@font-face {
 font-family: "Bebas Neue";
 src: url("../fonts/BebasNeue-Regular.ttf");
}

.resp-tabs-list {
 padding: 35px 0 !important;
}
#mainLogo {
 max-width: 75%;
 margin: 0px 23% 0px auto;
 text-align: center;
}
#mainLogo img {
 width: 80%;
 max-width: 432px;
 margin: 0px auto;
 padding: 20px 0px;
}
.section-full {
 z-index: 1;
 position: relative;
}
.section-full #donateBanner {
 text-align: right;
}
.section-full #donateBanner img {
 width: 15%;
 margin: 20px;
 max-width: 180px;
 min-width: 150px;
 /* Start the shake animation and make the animation last for 0.5 seconds */
 animation: float 6s ease-in-out infinite;
 animation-delay: 2s;
 cursor: pointer;
}
.section-full #donateBanner img:hover {
 animation-iteration-count: infinite;
 box-shadow: 0 0 30px 10px #fff, /* inner white */ 0 0 50px 30px #d4af37, /* middle gold */ 0 0 100px 45px ivory; /* outer ivory */
}
#donationMethods {
 display: flex;
 justify-content: space-between;
 margin-top: 10px;
 padding: 10px 0px;
}
.donation-method {
 flex: 1;
 text-align: center;
 cursor: pointer;
}
.donation-method:hover {
 animation: shake 0.5s;
}

.donation-method img {
 width: 70%;
}

#siteOverlay {
 z-index: -1;
 position: fixed;
 left: 0px;
 top: 0px;
 width: 100%;
 height: 100%;
 opacity: 0.9;
 background-color: #000;
}
#siteBackground {
 z-index: 0;
 position: fixed;
 left: 0px;
 top: 0px;
 width: 100%;
 height: 100%;
 opacity: 0.1;
}
#webLoginLink {
 padding: 0px !important;
}
#webLoginLink a {
 color: #121212 !important;
 text-decoration: none !important;
 display: block;
 width: 100%;
 height: 100%;
 padding: 15px 0px;
}
#webLoginLink a:hover {
 color: #d4af37 !important;
}

#logoAndTagline {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 min-height: 150px;
 /* box-shadow: 0 0 30px 15px transparent, 0 0 50px 30px #d4af37,  0 0 100px 45px ivory;*/
}
#logoAndTagline img {
 width: 40%;
}
#playVideo {
 text-align: center;
  margin: 40px 0px;
}
#playVideo img {
 width: 60px;
 cursor: pointer;
}
#storeIcons {
 display: flex;
 justify-content: center;
 opacity: 0.3;
}
#storeIcons a {
 cursor: default;
}
#storeIcons #googlePlay {
 height: 41px;
 margin-left: 10px;
}
#comingSoon {
 margin-top: 15px;
 padding: 10px 0px;
 text-align: center;
 font-family: "Bebas Neue", Impact, sans-serif !important;
 font-size: 1.2em;
}
#comingSoon em {
 font-style: normal;
 color: #d4af37;
}
#comingSoon strong {
 font-size: 2.5em;
}
#countdownTimer {
 color: #f03131;
}
footer {
 font-family: "Bebas Neue", Impact, sans-serif !important;
 background-color: #d4af37;
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 z-index: 1;
 min-height: 228px;
}

footer p {
 font-size: 2em;
 color: #000 !important;
 list-style: 1em;
 position: relative;
 z-index: 1;
}
footer p a {
 font-size: 0.5em;
 display: block;
}

footer .footer-logo {
 width: 230px;
 position: absolute;
 left: 50%;
 top: 0;
 margin-left: -115px;
 z-index: 0;
 opacity: 0.12;
}
footer .footer-logo img {
 width: 100%;
}

.content-container {
 border: solid 1px #d4af37;
 margin-bottom: 50px;
}

.left-content p {
 text-align: center;
 margin-bottom: 15px !important;
}
.left-content p span {
 opacity: 0.7;
}

#unicorn {
 text-align: center;
}
#unicorn img {
 width: 125px;
}

#extraLinks {
 margin: 10px auto 50px;
 background-color: white;
 width: 50%;
 text-align: center;
 padding: 12px;
}

h2 {
 font-family: "Bebas Neue", Impact, sans-serif !important;
 font-weight: 900;
 font-style: bold;
 margin-bottom: 25px !important;
}
h3 {
 font-size: 26px;
 line-height: 30px;
 color: #121212;
 text-transform: uppercase;
 display: block;
 font-family: "Bebas Neue", Impact, sans-serif !important;
 font-weight: 900;
 font-style: bold;
}

.tabs-text {
 letter-spacing: 1.1px;
}

.btn {
 letter-spacing: 1.1px;
 font-size: 1.2em !important;
}
.d-none {
 display: none;
}
.cd-praise {
 padding-left: 0;
 list-style-type: none;
}

.cd-praise > li {
 opacity: 1;
 font-family: "Georgia", serif;
 font-style: italic;
 line-height: 1.4;
 margin-bottom: 3em;
 padding: 0 14px;
}
.cd-praise > li > p {
 margin: 15px 15px 5px 15px;
}
.cd-author-info li span {
 font-size: 2em;
}
.praise-container .inner-content-container {
 background-color: white;
 text-align: center;
}

#generalModal {
 z-index: 10000 !important;
}

.modal {
 background-color: rgba(0, 0, 0, 0.3);
}

.modal-dialog {
 margin: 20vh auto 0px auto;
}
.modal-title {
 font-family: "Bebas Neue", Impact, sans-serif !important;
 font-size: 1.8em;
}
.modal-title span {
 color: #d4af37;
}
#videoModal video {
 width: 100%;
 height: auto;
 max-height: 100%;
}
#videoModalCloseButtonContainer {
 position: absolute;
 top: 0px;
 right: 0px;
 z-index: 10000;
}
.modal-video-container .modal-content {
 background-color: #d4af37 !important;
}
.modal .close-button-video {
 background-color: #e7eddf;
 border-radius: 50%;
 width: 30px;
 height: 30px;
 opacity: 0.7;
}
#modalLogo {
 width: 200px;
 height: auto;
 position: absolute;
 left: 50%;
 top: 10%;
 margin-left: -100px;

 z-index: 10000;
}
#modalLogo img {
 width: 100%;
}
#modalLogo #gameplayText {
 text-align: center;
}

#buyMeCoffee {
 z-index: 1000;
 position: fixed;
 bottom: 20px;
 left: 20px;
 border-radius: 50%;
 background-color: red;
 width: 60px;
 height: 60px;
 text-align: center;
 overflow: hidden;
 box-shadow: 0px 3px 3px rgba(31, 31, 31, 0.625);
}
#buyMeCoffee img {
 width: 100%;
 cursor: pointer;
}
#buyMeCoffee:hover {
 animation: shake 0.5s;
}

/*
========================================
---------- RESPONSIVE STYLE ------------
========================================
*/

/* TABLET */
@media (max-width: 768px) {
 #mainLogo {
  max-width: 100%;
  margin: 0px auto;
 }
 #mainLogo img {
  padding: 5px 0px 0px;
 }
 .modal-dialog {
  margin: 0vh auto 0px auto;
 }
}

/* DESKTOP */
@media (min-width: 991px) {
 .home-container .left-content h2 {
  font-size: 34px;
 }
 .left-line {
  display: none;
 }
 #videoModalCloseButtonContainer {
  top: -12px;
  right: -12px;
 }
 #videoModalCloseButtonContainer .close-button-video {
  opacity: 1;
 }
}

@media (min-width: 1200px) {
 .home-container .left-content h2 {
  font-size: 41px;
 }
 .left-line {
  display: block;
 }
}

/* LAPTOP */

@media (min-width: 1024px) and (max-height: 800px) {
 .container {
  padding-bottom: 50px;
 }
 #mainLogo img {
  width: 40%;
 }
}

@media (max-width: 400px) and (min-height: 700px) {
 .modal-dialog {
  margin: 10vh auto 0px auto;
 }
}

/* 
ANIMATIONS
*/

@keyframes shake {
 0% {
  transform: translate(1px, 1px) rotate(0deg);
 }
 10% {
  transform: translate(-1px, -2px) rotate(-1deg);
 }
 20% {
  transform: translate(-3px, 0px) rotate(1deg);
 }
 30% {
  transform: translate(3px, 2px) rotate(0deg);
 }
 40% {
  transform: translate(1px, -1px) rotate(1deg);
 }
 50% {
  transform: translate(-1px, 2px) rotate(-1deg);
 }
 60% {
  transform: translate(-3px, 1px) rotate(0deg);
 }
 70% {
  transform: translate(3px, 1px) rotate(-1deg);
 }
 80% {
  transform: translate(-1px, -1px) rotate(1deg);
 }
 90% {
  transform: translate(1px, 2px) rotate(0deg);
 }
 100% {
  transform: translate(1px, -2px) rotate(-1deg);
 }
}

@keyframes float {
 0% {
  transform: translatex(0px);
 }
 25% {
  transform: translatex(-8px);
 }
 50% {
  transform: translatex(0px);
 }
 75% {
  transform: translatex(8px);
 }
 100% {
  transform: translatex(0px);
 }
}
